export CLASSPATH=$PWD/lib/openjava.jar:$PWD/target/MuJava-0.0.1-SNAPSHOT.jar:/usr/lib/jvm/java-1.7.0-openjdk-1.7.0.75.x86_64/lib/tools.jar:$PWD/lib/commons-io-2.4.jar:$PWD/lib/hamcrest-core-1.3.jar:$PWD/lib/junit-4.12.jar
export JAVA_HOME=/usr/lib/jvm/java-1.7.0-openjdk-1.7.0.75.x86_64
